snippet func
function(${1:funcname} ${2:args})
endfunction()
endsnippet

snippet if
if(${1:condtion})
endif()
endsnippet

snippet ife
if(${1:condtion})
else()
endif()
endsnippet

snippet ifel
if(${1:condtion})
elseif(${2:condtion})
else()
endif()
endsnippet

snippet for
foreach(${1:loop_var arg1 arg2}) 
endforeach()
endsnippet

snippet while
while(${1:condtion})
endwhile()
endsnippet

snippet macro 
macro(${1:args})
macro()
endsnippet

