snippet while
while (${1:saf}) {

}
endsnippet

snippet class
class ${1:className} {

public:
	$1();
	~$1();
};
endsnippet

snippet u8
unsigned char
endsnippet

snippet us
unsigned short int
endsnippet

snippet ui
unsigned int
endsnippet

snippet stdc
std::cout<<${1:var} << std::endl;
endsnippet

snippet std1
std::cout<< "$1"<< ${1:var} << std::endl;
endsnippet
