snippet <h
<html>
<head>
<script type="text/javascript" src="jquery.js"></script>
<script type="text/javascript">

</script>
</head>

<body>
</body>

</html> 
endsnippet

snippet <a
	<a href="${1:link}">${2:cont}</a>
endsnippet

snippet <a
	<img src="${1:img}"/>
endsnippet
