snippet Ar
public $1Array {
	$2 = array_$3
}
endsnippet

snippet <f
<form action="<?${1:php echo $_SERVER['PHP_SELF']}>" method="${2:POST}"> $3
</form>
endsnippet

snippet <i
<input type="text" name=$1></input>
endsnippet

snippet <in
<input type="submit" value=$1></input>
endsnippet

snippet <h
<html>
<head><title>${1:default title}</title></head>
</html>
endsnippet

snippet <s
<select name="$1" multiple>
</select>
endsnippet

snippet <o
<option value="$1">$1</option>
endsnippet
